@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
}
body {
	width: 400px;
	height: 600px;
	background: #171718;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	background-blend-mode: normal, lighten;
	color: aliceblue;
}

.nav-btn {
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25),
		0px 4px 16px -4px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	background: #202021;
}
.nav-btn div {
	position: relative;
	padding: 15px 20px;
	color: #999;
	transition: 0.3s ease-in-out;
}
.nav-btn div > svg {
	width: 13px;
	height: auto;
	top: 1px;
	right: 4px;
	position: relative;
}
.nav-btn div::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 19px;
	background: #666;
	right: -10px;
	top: 54%;
	transform: translateY(-50%);
}
/* last item after delete */
.nav-btn div:last-child::after {
	display: none;
}
.nav-btn div:hover {
	background: #2e2e2f;
	color: #fff;
	cursor: pointer;
}
.nav-btn div.active {
	background: #2e2e2f;
	color: #fff;
}
/* settting */
.modal-content h2 {
	text-align: center;
	padding-bottom: 18px;
	font-weight: 800;
	font-size: 22px;
}
form {
	margin-left: 10px;
	margin-top: 22px;
}
.modal-content label {
	display: block;
	padding-bottom: 15px;
	padding-left: 8px;
}
.modal-content input[type="text"] {
	padding: 8px 14px;
	background: transparent;
	color: #999;
	width: 87%;
	margin-left: 6px;
	border: 1px dotted;
	margin-bottom: 20px;
	border-radius: 7px;
}
/* content */
.content {
	padding: 25px 0;
}
.block.create-post-block {
	padding: 30px 25px;
	margin: 10px;
	border: 1px solid #434040;
	border-radius: 7px;
}
.content textarea#post-title {
	background: transparent;
	border: none;
	font-size: 17px;
	font-weight: 600;
	outline: none;
	border-radius: 7px;
	color: #fff;
	resize: none;
	width: 340px;
	height: 35px;
	margin-bottom: 20px;
}
.content textarea#post-title::placeholder {
	color: #999;
}
textarea#post-description {
	width: 100%;
	height: 200px;
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: 20px;
}
textarea::-webkit-scrollbar {
	display: none;
}
.common-btn {
	height: 35px;
	line-height: 35px;
	display: block;
	padding: 0 30px;
	border: transparent;
	border-radius: 7px;
	margin-top: 20px;
	transition: 0.3s ease-in-out;
}
.common-btn:hover {
	background-color: #666;
	color: #fff;
	cursor: pointer;
}
.common-btn svg {
	width: 16px;
	height: 16px;
	position: relative;
	right: 5px;
	top: 1px;
}
.common-btn .paper-plane {
	transform: rotate(45deg);
}
/* content */
/* posts start*/
#posts-list {
	padding: 0 7px;
	height: 450px;
	overflow-y: scroll;
}
#posts-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: transparent;
}

#posts-list::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}

#posts-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}
.single-post {
	display: flex;
	margin-bottom: 20px;
	padding: 20px 0;
	background: #2e2e2f;
	border-radius: 7px;
	position: relative;
}
.profile-img {
	position: relative;
	top: 15px;
}
.profile-img img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
	padding: 0 8px;
}
.post-content {
	padding-right: 10px;
	display: block;
	width: 70%;
	word-wrap: break-word;
}
.post-content a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
}
.post-content h2 {
	font-size: 18px;
	padding-bottom: 12px;
}
.post-content p {
	font-size: 15px;
	font-weight: 400;
}
.boost-post-btn {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	position: relative;
	top: 10px;
}
.boost-count {
	position: relative;
	top: 5px;
	right: 4px;
}
.boost-post-btn svg {
	width: 25px;
	height: 25px;
	border: 1px solid transparent;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.3s;
}
.boost-post-btn svg:hover {
	border: 1px currentColor solid;
}
/* posts end*/

/* setting */
.create-post {
	display: block;
}
.posts-block {
	display: none;
}
.posts-block h3 {
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
}
/* setting */
.setting-block {
	display: none;
}
